.profile__edit-avatar-button {
  background-image: url(../../../images/EditAvatar.svg);
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-size: 26px 26px;
  height: 120px;
  width: 120px;
  left: 0;
  padding: 0;
  object-fit: cover;
  opacity: 0;
  transition: .3s ease;
}

.profile__edit-avatar-button:hover {
  opacity: 1;
  cursor: pointer;
}