.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 880px;
  height: 33px;
  padding: 45px 0 41px;
  margin: 0 auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 340px) {
  .header {
    max-width: 100%;
    margin: 28px auto 42px;
    padding-bottom: 31px;
  }
}
