.elements__delete-button {
  display: none;
  background-image: url(../../../images/Urn.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  position: absolute;
  height: 19px;
  width: 18px;
  top: 15px;
  right: 15px;
  transition: .3s ease;
}

.elements__delete-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
